.title{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color:#2A5298;
    background-color:#D9EBF8;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(45deg, #7ea1e0 , #103475 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flexContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
    background-color:#D9EBF8;
    padding: 20px;
}

.flexContent p {
    font-size: 2rem;
}

@media(max-width: 760px) and (min-width: 320px){
    .title{
        font-size: px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .flexContent{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .flexContent p {
        font-size: 1.2rem;
    }

    #AboutPic{
        width: 100%;
        height: auto;
    }
}