*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #D9EBF8;
    
}

.MobilePic{
    display: none;
}

.skew{
      width: 2000px;
      height: 10000px;
      background: #4A90E2;
      margin: 50px auto;
      transform: skewY(-70deg) translateX(500px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      z-index: 1;
      position:absolute;
   
}

.skew2{
    position:absolute;
    width: 2000px;
    height: 1000px;
    transform: skewY(-70deg) translateX(-20rem);
    background-color: #2A5298;
    z-index: -1;
    left: -7%;

}

.skew, .skew2{
    transform: translateX();
}

 .successMessage {
      background-color: green;
      padding: 0.5rem;
      margin-bottom: 1rem;
      text-align: center;
      display: none;
    }



.LoginBody {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 2rem;
      color: white;
      font-family: "Poppins",sans-serif;
      
    background-size: cover;
  background-position: center;
  z-index: 9999;
  transform: translateX(400px);
      
   
    }

    .login-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 10rem;
        padding-bottom: 10rem;
        padding-left: 3rem;
        padding-right: 3rem;
      border-radius: 50px;
      width: 100%;
      max-width: 700px;
      min-height: 60vh;
      backdrop-filter: blur(10px);
      transition: transform 0.3s ease;
      
    }
    .login-header h2{
        font-size: 2em;
    }

    .login-header h2,
    .login-header p {
      text-align: center;
      margin-bottom: 1rem;
      color:#4A90E2;
    }

    .form-group {
      margin-bottom: 1rem;
      align-content: center;
    }

    label {
      display: block;
      margin-bottom: 0.3rem;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 100px;
      font-size: 1.5rem;
      font-family: "Poppins",sans-serif;
      border: none;
      box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
-webkit-box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
-moz-box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
      
      
    }

    .login-btn {
      width: 100%;
      margin-top: 1rem;

      padding: 0.7rem;
      padding-left: 3rem;
      padding-right: 3rem;
background: #4A90E2;
      border: none;
      border-radius: 999px;
      color: white;
      cursor: pointer;
      font-weight: bold;
      align-items: center;
      font-size: 1.5rem;

    }
    .dctRegister{
          width: 100%;
      margin-top: 1rem;
      padding: 0.7rem;
       padding-left: 3rem;
      padding-right: 3rem;
      border: 2px solid #4A90E2;
      background: transparent;
      border-radius: 100px;
      cursor: pointer;
      font-weight: bold;
      align-items: center;
      font-size: 1.5rem;
      text-decoration: none;
      color:#2A5298;
      max-width: 200px;
      text-align: center;
      

    }

    .buttonFlex h1{}

    .buttonFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items:center
        
    }

    .forgot-password,
    .signup-link {
      text-align: center;
      margin-top: 1rem;

    }

    .forgot-password a{
color: #73b8f5;
    }

    .signup-link a{
      color: #73b8f5;
    }

    .success-message {
      background-color: green;
      padding: 0.5rem;
      margin-bottom: 1rem;
      text-align: center;
      display: none;
    }

    #LoginTitle{
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 2rem;
    }


    input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 100px;
    font-size: 1.5rem;
    font-family: "Poppins",sans-serif;
    border: none;
    box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
    margin-bottom: 2rem;
    }

    hr{
        border: none; 
  height: 4px;
  background: #2A5298;
  margin: 30px auto;
  width: 60%;

    }

    hr{
        border: 2px solid #103475;
    }

        /*WELCOME CODE*/

    .WelcomeTitle{
        font-family: "Poppins", sans-serif;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-100%, -50%);

    }

    .WelcomeTitle h1{
        font-size: 7rem;
  color: #A0B9E8;
  background-image: linear-gradient(45deg, #7ea1e0 , #103475 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.WelcomeTitle p{
    font-size: 2rem;
}



/*REGISTER*/

.regBody {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 2rem;
      color: white;
      font-family: "Poppins",sans-serif;
      
    background-size: cover;
  background-position: center;
  z-index: 9999;
  transform: translateX(400px);
      
   
    }

    .reg-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 10rem;
        padding-bottom: 10rem;
        padding-left: 3rem;
        padding-right: 3rem;
      border-radius: 50px;
      width: 100%;
      max-width: 700px;
      min-height: 60vh;
      backdrop-filter: blur(10px);
      transition: transform 0.3s ease;
      
    }
    .reg-header h2{
        font-size: 2em;
    }

    .reg-header h2,
    .reg-header p {
      text-align: center;
      margin-bottom: 1rem;
      color:#4A90E2;
    }

    .form-group {
      margin-bottom: 1rem;
      align-content: center;
    }

    label {
      display: block;
      margin-bottom: 0.3rem;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 100px;
      font-size: 1.5rem;
      font-family: "Poppins",sans-serif;
      border: none;
      box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
-webkit-box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
-moz-box-shadow: -1px 17px 57px 5px rgba(0,0,0,0.42);
      
      
    }

    .reg-btn {
      width: 100%;
      margin-top: 1rem;

      padding: 0.7rem;
      padding-left: 3rem;
      padding-right: 3rem;
background: #4A90E2;
      border: none;
      border-radius: 999px;
      color: white;
      cursor: pointer;
      font-weight: bold;
      align-items: center;
      font-size: 1.5rem;

    }
    

    .buttonFlex h1{}

    .buttonFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items:center
        
    }

    .forgot-password,
    .signup-link {
      text-align: center;
      margin-top: 1rem;

    }

    .forgot-password a{
color: #73b8f5;
    }

    .signup-link a{
      color: #73b8f5;
    }


    .dctRegister2{
           width: 100%;
      margin-top: 1rem;
      padding: 0.7rem;
       padding-left: 3rem;
      padding-right: 3rem;
      border-radius: 100px;
      cursor: pointer;
      background-color: #4A90E2;
      font-weight: bold;
      align-items: center;
      font-size: 1.5rem;
      text-decoration: none;
      color:white;
      max-width: 200px;
      text-align: center;
      
    }

    .alreadyHaveAccount{
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 20px;
    }

   


    /*RESPOSNIVENESS*/

    @media(max-width: 760px) and (min-width: 320px) {

       body{
        background: #D9EBF8;
background: linear-gradient(180deg, rgba(217, 235, 248, 1) 0%, rgba(103, 157, 255, 1) 100%);
       }
        .skew, .skew2{
            display: none;
        }

.MobilePic {
    display: block;
    position: absolute;
    top:-8%;
    
}

.MobilePic img {
    width: 250px;  
    align-items: center;
    height: auto;  
    align-items: center;
    z-index: 99999;
    transform: translateY(-120PX);
    transform: translateX(20px);
}



        .WelcomeTitle{
            display: none;
        }

        .LoginBody{
            transform: translateX(0);
        }
        
        .login-container{
            padding-top: 10rem;
            padding-bottom: 5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 20px;
            min-height: auto;
        }   

        input{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    box-shadow: -1px 17px 57px -46px rgba(0,0,0,1);
-webkit-box-shadow: -1px 17px 57px -46px rgba(0,0,0,1);
-moz-box-shadow: -1px 17px 57px -46px rgba(0,0,0,1);
        }

/*register part*/
        .regBody{
            transform: translateX(0);
        }

        .reg-container{
            padding-top: 10rem;
            padding-bottom: 5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 20px;
            min-height: auto;
        }   

        input{

    }
    }

    